<header id="header">
  <div class="headerContainer">
    <nav id="gnb">
      <div class="gnbInner">
        <div class="gnbTop">
          <h1>
            <a href="/" class="h1Logo">
              부동산
            </a>
          </h1>
        </div>
        <div class="gnbMenuListWrap">
          <ul class="gnbMenuList">
            <li>
              <a href="#none" id="apt" onclick="myfunction(this)">아파트</a>
            </li>
            <li>
              <a href="#none" id="opi" onclick="myfunction(this)">오피스텔</a>
            </li>
            <li>
              <a href="#none" id="home" onclick="myfunction(this)">주택</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
